{% extends "cart/base.html" %}
{% load static %}

{% block title %}
    Sci-Fi Books
{% endblock %}

{% block content %}
    <div id="main" class="book-list">
        <h1>Sci-Fi Books</h1>
        {% for book in books %}
            <div class="item">
                <a href="{{ book.get_absolute_url }}">
                    <img src="{% if book.cover %}{{ book.cover.url }}{% else %}{% static "img/no_image.gif" %}{% endif %}">
                </a>
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a><br>
                ${{ book.price }}
            </div>
        {% endfor %}
    </div>
{% endblock %}