{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Sci-Fi Bookstore{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">Dark Side of the Moon Books</a>
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart_len %}
                {% if cart_len > 0 %}
                    Your cart:
                    <a href="{% url 'cart:cart_detail' %}">
                        {{ total_items }} item{{ total_items|pluralize }}, ${{ total_price }}
                    </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>




{% comment %}

THIS IS THE ORIGINAL TEMPLATE
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Your cart:
                    <a href="{% url 'cart:cart_detail' %}">
                        {{ total_items }} item{{ total_items|pluralize }}, ${{ total_price }}
                    </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}




            {% with item_count=total_items %}
                {% if total_items > 0 %}
                    Your cart:
                    <a href="{% url 'cart:cart_detail' %}">
                        {{ item_count }} item{{ item_count|pluralize }}, ${{ total_price }}
                    </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}

{% endcomment %}