{% extends "cart/base.html" %}
{% load static %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
    <h1>Your Sci-Fi Selections</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Image</th>
                <th>Book</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit price</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            <tr>
                <td>
                    <a href="{{ item.book.url }}">
                        <img src="{% if item.book.cover %}
                                      {{ item.book.cover }}
                                  {% else %}
                                      {% static 'img/no_image.gif' %}
                                  {% endif %}">
                    </a>
                </td>
                <td>{{ item.book.title }}</td>
                <td>
                    <form action="{% url 'cart:cart_add' item.book.id %}" method="post">
                        {% for field in item.update_quantity_form %}
                            {{ field }}
                        {% endfor %}
                        <input type="submit" value="Update">
                        {% csrf_token %}
                    </form>
                </td>
                <td>
                    <form action="{% url 'cart:cart_remove' item.book.id %}" method="post">
                        <input type="submit" value="Remove">
                        {% csrf_token %}
                    </form>
                </td>
                <td class="num">${{ item.price }}</td>
                <td class="num">${{ item.total_price }}</td>
            </tr>
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ total_price }}</td>
        </tr>
        </tbody>
    </table>

    <p class="text-right">
        <a href="{% url 'cart:book_list' %}" class="button light">Continue shopping</a>
        <a href="{% url 'cart:order_create' %}" class="button">Checkout</a>
    </p>
{% endblock %}




{% comment %}

    <p class="text-right">
        <a href="{% url 'cart:book_list' %}" class="button light">Continue shopping</a>
        <form action="{% url 'cart:order_create' order %}" method="post">
            <input type="submit" class="button" value="Checkout">Checkout</button>
            {% csrf_token %}
        </form>
    </p>
{% endcomment %}







